@import url('https://fonts.googleapis.com/css?family=Montserrat|Yantramanav');

body{
    background-color: green;
    background: -o-linear-gradient(bottom right, green, yellow);
    background: -moz-linear-gradient(bottom right, green, yellow);
    background: linear-gradient(to bottom right, green, yellow);
    background-size: 150%;
}

h1{
    font-family: Yantramanav, sans-serif;
    font-size: 500%;
    color: white;
    text-align: center;
    text-space: 5px;
    border: solid;
    margin: 70px;
}

h1:hover{
    color: black;
}

.velkommen{
    color: azure;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 300%;
    border: solid;
    margin: 100px;
}

.velkommen:hover{
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: center;
}

ul li{
    display: inline;
}

ul a{
    padding: 10px 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul a:hover{
    color: #000000;
    background-color: white;
}

.meny{
    flex-direction: column;
    margin: auto;
    display: flex;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: black;
}

input[type="text"]{
    display: block;
    width: 220px;
    padding: 5px;
    color: black;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color:whitesmoke;
}

input[type="submit"]{
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    color: black;
    border: none;
    background-color: white;
}