body {
    background-color: #dff5ff;
}

h1{
    text-align: center;
}

p{
    font-family: "serif";
}

h2{
    margin-top: 50px;
    text-align: center;
}

h3{
    font-family: sans-serif;
    font-weight: bold;
}

table{
    alignment: center;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #c8d8ff;
    border: 1px;
    padding: 5px;
}

td{
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5px;
}

.meny ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.meny ul li{
    display: inline;
}

.meny ul a{
    padding: 10px 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.meny ul a:hover{
    background-color: white;
}

.innpaking{
    margin: auto;
    width: 800px;
    background-color: #dff5ff;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.topptekst{
    height: 120px;
    background-color: #eaf8ff;
    padding: 5px;
    margin: 5px;
}

.meny{
    padding: 5px;
    margin: 5px
}

.innhold{
    background-color: #eaf8ff;
    padding: 5px;
    margin: 5px;
}

.meny h2{
    text-align: center;
}
 ul{
     list-style-type: circle;
     text-decoration: none;
 }

 img{
     margin-top: 10px;
 }

input[type="text"]{
    display: block;
    width: 220px;
    padding: 5px;
    color: black;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color:whitesmoke;
}

input[type="submit"]{
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    color: black;
    border: none;
    background-color: white;
}

.skjema{
    padding-top: 10px;
}

.ifra p{
    font-family: "Adobe Hebrew";
    padding-top: 5px;
    padding-bottom: 10px;
}



.dropbtn{
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding-top: 20px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #eaf8ff;
}

.lorem p{
    font-family: Montserrat;
    font-size: 15px;
}